#root {
  width: 100%;
  font-size: 14px;
}

body {
  padding: 20px;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
  color: #fff;
}

form h2 {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.horizontal-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 5px 10px;
}

select,
button,
.button {
  outline: none;
  border: 0.1rem solid #fff;
  border-radius: 3rem;
  width: 100px;
  padding: 3px;
  color: #fff;
  text-align: center;
  background-color: transparent;
}

option {
  color: #000;
}

button {
  cursor: pointer;
}

form ::placeholder {
  color: rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
}

/* Hovers */
button[type="submit"]:hover,
button[type="submit"]:focus,
a:hover {
  background-color: #fff;
  color: #52a44f;
  font-weight: 600;
}
